//!Colors

$selected-color: #35353e;
$grid-content-color: #141414;
$white-color: #ffffff;

$primary-button-color: #9a0003;
$primary-button-hover: #c81517;

//!Sizes
// $max-width-container: 1200px;

//
// $sm: 0.8 rem;
// $base: 1 rem;
