//!Colors
$selected-color: #35353e;
$grid-content-color: #141414;
$white-color: #ffffff;

//*event
$grid-elements-color: #1a1a1a;
$grid-elements-border-color: #585858;
$grid-elements-hover-color: #44454f;
